<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="empleados" routerLinkActive="active" class="nav-link"
        >List of employees</a
      >
    </li>

    <li class="nav-item">
      <a
        routerLink="registrar-empleados"
        routerLinkActive="active"
        class="nav-link"
        >Register of employees</a
      >
    </li>
  </ul>
</nav>

<h1 class="text-center m-4">System gestion of employees</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>
