<div class="container">
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="editEmployee()" [formGroup]="formEmployee">
        <div class="col-12">
          <label>Nombre: </label>
        </div>

        <div class="col-12">
          <input type="text" class="form-control" formControlName="name" />
        </div>

        <div class="col-12">
          <label>Apellido: </label>
        </div>

        <div class="col-12">
          <input type="text" class="form-control" formControlName="lastName" />
        </div>

        <div class="col-12">
          <label>Email: </label>
        </div>

        <div class="col-12">
          <input type="email" class="form-control" formControlName="email" />
        </div>

        <div class="col-12">
          <button class="btn btn-success">Edit Employee</button>
        </div>
      </form>
    </div>
  </div>
</div>
